.inputs {
    width: 450px;
    border: 2px solid #777;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
}



.textarea {
    width: 450px !important;
    height: 140px;
    border: 2px solid #777;
    padding-left: '25px';
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    resize: none;
}

@media screen and (max-width: 600px) {
    .inputs {
        width: 90%
    }

    .textarea {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .inputs {
        width: 100%
    }

    .textarea {
        width: 100%;
    }
    .boxx{
        display:flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .inputs {
        width: 100%
    }

    .textarea {
        width: 100%;
    }
    .boxx{
        display:flex;
        flex-direction: column;
    }
}